@charset "UTF-8";   /*Regra padrão para codificação de caracteres*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root { /*Declaração de variáveis*/
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo: "Passion One", sans-serif;
    --fonte-conteudo: "Sriracha", cursive;
}

* {   /*Configurações gerais*/
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;  /*Altura mínima em relação a viewport*/
    background-color: darkgray;
    font-family: var(--fonte-padrao);   /*Chama a variável declarada na root*/
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;   /*Retorna um texto com letras maiúsculas, no entanto com a primeira letra da palavra um pouco maior que as demais*/
    font-family: var(--fonte-titulo);
    font-size: 5em;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;  /*Retira o sublinhado*/
    font-weight: bolder;    /*Negrito*/
}

header a:hover, footer a:hover {   /*Declaração de uma Pseudo-class*/
    text-decoration: underline;    /*Insere o sublinhado*/
}

section {
    padding-top: 10vh;  /*10% da altura da viewport*/
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;   /*Espaçamento entre as linhas*/
    font-family: var(--fonte-conteudo);
    font-size: 2em;
}

section p {
    padding-bottom: 2em;
}

section.normal {    /*Declaração de uma class*/
    background-color: white;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;   /*Anexa a imagem de fundo fixando-a dando o efeito paralaxe*/
}

section.imagem p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;  /*Espaço interno do container*/
}